#interface,
.interface {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;

	&>header,
	&>footer {
		padding: .5em 1em;
		background-color: hsl(var(--h), var(--s), 30%);
		color: hsl(var(--h), var(--s), 100%);
		display: flex;
		justify-content: space-between;
	}

	&>header {
		order: -1000;
		display: flex;
		flex-direction: row-reverse;
		h1 {
			display: flex;
			align-items: center;
			gap: .5em;
			font-size: 1em;
		}
		img {
			filter: brightness(0) invert(1);
			height: 2em;
		}
	}

	&>nav {
		background-color: hsl(var(--h), var(--s), 35%);
		color: hsl(var(--h), var(--s), 100%);
	}

	&>footer {
		order: 1000;
	}
}