.sheet {
	--size: minmax(4em, auto);
	display: grid;
	grid-template-columns: [ row-label-start] var(--size) [row-label-end leader-start] repeat(3, var(--size)) [leader-end col-body-start e1-start] repeat(3, var(--size)) [e1-end e2-start] repeat(2, var(--size)) [e2-end col-body-end trailer-start] repeat(3, var(--size)) [trailer-end];
	grid-template-rows: [ col-label-start] var(--size) [col-label-end header-start] repeat(2, var(--size)) [header-end g-start g1-start] repeat(3, var(--size)) [g1-end g2-start] repeat(2, var(--size)) [g2-end footer-start] repeat(3, var(--size)) [footer-end];
	justify-content: center;
	border: 1px solid #666;
	background-color: #f0f0f0;

	>.controls {
		pointer-events: none;
		--size: 16px;
		grid-area: 1 / 1 / -1 / -1;
		position: relative;
		display: grid;
		grid-template: subgrid / subgrid;

		.size-control {
			pointer-events: all;
		}

		.col-group,
		.row-group {
			display: grid;
			grid-area: 1 / 1 / -1 / -1;

			.size-control {
				background-color: transparent;
				cursor: pointer;
				display: grid;
				opacity: 0.1;
				transition: 0.2s ease-in-out;

				&::before {
					content: '';
					background-color: #666;
					border: 1px outset #000;
				}

				&:hover {
					opacity: .5;
				}
			}
		}

		.col-group {
			grid-column: var(--col-group);

			.size-control {
				grid-area: 1 / -2 / -1 / -1;
				justify-self: end;
				justify-items: center;
				transform: translate(50%, 0);
				width: var(--size);

				&::before {
					width: 2px;
					border-block: none;
				}

				&:hover {
					&::before {
						width: 4px;
					}
				}
			}
		}

		.row-group {
			grid-row: var(--row-group);

			.size-control {
				grid-area: -2 / 1 / -1 / -1;
				align-self: end;
				align-items: center;
				transform: translate(0, 50%);
				height: var(--size);

				&::before {
					height: 2px;
					border-inline: none;
				}

				&:hover {
					&::before {
						height: 4px;
					}
				}
			}
		}
	}

	.row-group,
	.col-group,
	.cell-group,
	.row,
	.col {
		display: grid;
		grid-template: subgrid / subgrid;
		grid-area: 1 / 1 / -1 / -1;
	}
	.cell-group {
		border: solid blue;

	}
	.row-group>.label {
		grid-row: 1 / -1;
		grid-column: row-label;
		background-color: #0001;
		display: grid;
		place-items: center;

		>span {
			padding: .5em 0;
			writing-mode: sideways-lr;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.col-group>.label {
		grid-row: col-label;
		grid-column: 1 / -1;
		background-color: #0001;
		display: grid;
		place-items: center;

		>span {
			padding: 0 0.5em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	>.row-group {
		grid-row: var(--row-group);
		grid-column: 1 / -1;

		&.header {
			background-color: #0001;
		}

		&.footer {
			background-color: #0001;
		}
		
		.leader {
			border: solid red;
		}
	}
	
	>.col-group {
		grid-row: 1 / -1;
		grid-column: var(--col-group);
		
		&.leader {
			background-color: #0001;
		}

		&.trailer {
			background-color: #0001;
		}

		/* >.control {
			width: 4px;
			background-color: #CCC;
			border: 1px outset #CCC;
			grid-row: 1 / -1;
			grid-column: -2;
			justify-self: end;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		} */
	}

	.header {
		grid-row: header;
	}

	.footer {
		grid-row: footer;
	}

	.leader {
		grid-column: leader;
	}

	.trailer {
		grid-column: trailer;
	}

	.row {
		grid-row: auto;
	}

	.col {
		grid-column: auto;
	}

	.cell {
		padding: 0ch .5ch;
		display: flex;
	}
}

/* .header>.leader {
	border: solid;
	grid-row: header;
	grid-column: leader;
} */


/* .row-group.header>.col-group {
	.label {
		grid-column: 1 / -1;
		grid-row: col-label;
		text-align: center;
		background-color: #0001;
		padding: 0 .5em;
	}
} */


/* .row-group.header>.col-group.trailer {
	>.row:nth-child(1) {
		grid-row: span 2;
		grid-template: unset;

		>.cell {
			justify-content: center;
			align-items: end;
		}
	}

	>.row:nth-child(2) {
		grid-template-rows: 1fr;

		.cell {
			align-items: end;
			justify-content: center;
		}
	}

} */

/* .row-group.header>.col-group.leader {
	>.row:nth-child(1) {
		grid-template: unset;

		>.cell {
			justify-content: center;
			align-items: end;
		}
	}

	>.row:nth-child(2) {
		grid-template-rows: 1fr;
		font-weight: bold;

		.cell {
			align-items: end;
			justify-content: center;
		}
	}
} */

/* .row-group.footer>.col-group.leader {
	font-weight: bold;

	>.row {
		grid-template: unset;

		>.cell {
			justify-content: end;
		}
	}

} */