.sheet {
	--bg: hsl(180, 0%, 0%, 3%);
	--row-size: 1.6em;
	--col-size: auto;
	--gap: 5px;
	display: grid;
	grid-template-columns: [sheet-start row-label-start] var(--col-size) [row-label-end header-start] repeat(3, var(--col-size)) [header-end body-start e1-start] repeat(3, var(--col-size)) [e1-end e2-start] repeat(2, var(--col-size)) [e2-end body-end footer-start] repeat(3, var(--col-size)) [footer-end sheet-end];
	grid-template-rows: [sheet-start col-label-start] var(--row-size) [col-label-end header-start] repeat(2, var(--row-size)) [header-end body-start g1-start] repeat(3, var(--row-size)) [g1-end g2-start] repeat(2, var(--row-size)) [g2-end body-end footer-start] repeat(3, var(--row-size)) [footer-end sheet-end];
	justify-content: center;
	gap: var(--gap);
	padding: var(--gap);
	line-height: 1;

	.row-group,
	.col-group,
	.cell-group,
	.row,
	.col {
		display: grid;
		grid-template: subgrid / subgrid;
		grid-area: 1 / 1 / -1 / -1;
	}
	.cell {
		align-items: center;
	}
	.row-group>.label {
		grid-row: 1 / -1;
		grid-column: row-label;
		background-color: var(--bg);
		display: grid;
		place-items: center;
		text-align: center;

		>span {
			padding: .5em 0;
			writing-mode: sideways-lr;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.col-group>.label {
		grid-row: col-label;
		grid-column: 1 / -1;
		background-color: var(--bg);
		display: grid;
		place-items: center;
		text-align: center;

		>span {
			padding: 0 0.5em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	>.row-group {
		grid-column: 1 / -1;

		&.header,
		&.footer {
			grid-column-start: header;
			background-color: var(--bg);
		}
	}

	>.col-group {
		grid-row: 1 / -1;

		&.header,
		&.footer {
			grid-row-start: header;
			background-color: var(--bg);
		}
	}
	>.col-group>.row-group {
		grid-row-start: header;
	}

	.row {
		grid-row: auto;
	}

	.col {
		grid-column: auto;
	}

	.cell {
		padding: 0ch .5ch;
		display: flex;
	}
	.header-header {
		border: solid;
		grid-area: header / header;
		.row:first-child {
			grid-template: none;
			text-align: center;
			justify-content: center;
		}
		.row:nth-child(2) {
			font-weight: bold;
		}
	}
	.header-footer {
		grid-area: header / footer;
		.row:first-child {
			grid-template: none;
			text-align: center;
			justify-content: center;
			font-weight: bold;
		}
	}
	.footer-header {
		grid-area: footer / header;
		font-weight: bold;
		.row {
			grid-template: none;
			justify-items: end;
		}
	}
	.footer-footer {
		grid-area: footer / footer;
	}
}
